.popup {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #9e9e9e99;
    gap: 10px;
}

input {
    width: 200px;
    height: 3.5%;
}

.popup_description {
    text-align: start;
    width: 60%;
    height: 3.5%;
}

button:hover {
    cursor: pointer;
}

.p_visible {
    visibility: visible;
}

.p_hidden {
    visibility: hidden;
}
